<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>

    <services>
      <service name="System.ServiceModel.Routing.RoutingService">
        <endpoint address="net.tcp://localhost:1000/DemoServiceRouter"
                  binding="netTcpBinding"
                  contract="System.ServiceModel.Routing.IRequestReplyRouter"
                  name="router1" />
      </service>
    </services>

    <routing>
      <namespaceTable>

        <!-- set prefix for xpath expression -->
        <add prefix="ds"
             namespace="http://pingo/version"/>
        
      </namespaceTable>
      <filters>

        <!-- will be used to just set routing -->
        <!--<filter name="router1endpoint"
                filterType="EndpointAddress"
                filterData="net.tcp://localhost:1000/DemoServiceRouter"/>-->

        <filter name="version1"
                filterType="XPath"
                filterData="sm:header()/ds:VER_NR = '1.0'"/>
        <filter name="version2"
                filterType="XPath"
                filterData="sm:header()/ds:VER_NR = '2.0'"/>

        <!-- this one checks if there is any VER_NR in the header-->
        <filter name="noVersion"
                filterType="XPath"
                filterData="count(sm:header()/ds:VER_NR) = 0"/>

      </filters>
      <filterTables>
        <filterTable name="routingTable">

          <add filterName="version1"
               endpointName="host1endpoint"/>
          <add filterName="version2"
               endpointName="host2endpoint" />
          <add filterName="noVersion"
               endpointName="host1endpoint"/>

          <!-- will be used to just set routing -->
          <!--<add filterName="router1endpoint" 
               endpointName="host1endpoint"/>-->

        </filterTable>
      </filterTables>
    </routing>

    <client>
      <endpoint address="net.tcp://localhost:1001/DemoService/v1"
                binding="netTcpBinding"
                contract="*"
                name="host1endpoint"/>
      <endpoint address="net.tcp://localhost:1002/DemoService/v2"
                binding="netTcpBinding"
                contract="*"
                name="host2endpoint"/>
    </client>

    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2000000" />
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <routing filterTableName="routingTable"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2" />
  </startup>

</configuration>