<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <!-- comment this in to see "version1" executing -->
    <!--<add key="VER_NR"
         value="1.0"/>-->
    
    <!-- comment this in to see "version2" executing -->
    <!--<add key="VER_NR"
         value="2.0"/>-->
    
  </appSettings>
  

  <system.serviceModel>

    <client>
      <endpoint address="net.tcp://localhost:1000/DemoServiceRouter"
                binding="netTcpBinding"
                contract="Demo.Contracts.IDemoService" />
    </client>

    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2000000" />
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>